<!--The content below is only a placeholder and can be replaced.-->
<div class="container p-5">
  <div class="row py-4">
    <div class="col-md-12">
      <button
        class="me-3 btn btn-dark"
        (click)="themeSvc.setTheme('dark-theme')"
      >
        Dark Theme
      </button>
      <button
        class="me-3 btn btn-light"
        (click)="themeSvc.setTheme('light-theme')"
      >
        Light Theme
      </button>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-12">
      <button class="me-3 mb-3 btn btn-light">Light</button>
      <button class="me-3 mb-3 btn btn-dark">Dark</button>
      <button class="me-3 mb-3 btn btn-primary">Primary</button>
      <button class="me-3 mb-3 btn btn-secondary">Secondary</button>
      <button class="me-3 mb-3 btn btn-info">Info</button>
      <button class="me-3 mb-3 btn btn-success">Success</button>
      <button class="me-3 mb-3 btn btn-danger">Danger</button>
      <button class="me-3 mb-3 btn btn-warning">Warning</button>
    </div>
  </div>
</div>
