// DancingScript
@font-face {
  font-family: 'DancingScript';
  src: url("../../assets/fonts/DancingScript/DancingScript-SemiBold.ttf") format('truetype');
  font-weight: bolder;
}
@font-face {
  font-family: 'DancingScript';
  src: url("../../assets/fonts/DancingScript/DancingScript-Bold.ttf") format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'DancingScript';
  src: url("../../assets/fonts/DancingScript/DancingScript-Regular.ttf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'DancingScript';
  src: url("../../assets/fonts/DancingScript/DancingScript-Medium.ttf") format('truetype');
  font-weight: 400;
}



